.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	padding: 20px 60px;

	background-color: floralwhite;
	box-shadow: 10px 10px 10px black;
}

.nav ul {
	display: flex;
	gap: 100px;
}
